<div class="landing-container">

  <h1>AI Resume Screening System</h1>
  <p class="subtitle">Smart AI Based Resume Analysis Platform</p>

  <div class="card-container">

    <!-- Recruiter Card -->
    <div class="role-card recruiter-card">
      <h2>Recruiter</h2>
      <p>
        Create Jobs, Manage Applications,
        Analyze ATS Score and View AI Results
      </p>
      <button (click)="goToRecruiterDashboard()">Continue As Recruiter</button>
    </div>

    <!-- End User Card -->

    <div class="role-card user-card">
      <h2>End User</h2>
      <p>
        Browse Jobs, Apply with Resume
        and Track Opportunities
      </p>
      <button (click)="goToUserDashboard()">Continue As User</button>
    </div>
  </div>
</div>
